<header>
    <div id="logo_main">
        <div id="logo">
            <img src="../public/Cloud-FFVIIArt.png" alt="Cloud">
        </div>
    </div>

    <div>
        <div id="titre_principal">
                        <h1>Jeux Vidéos</h1>
                        <h2>Gestion de collections de Jeux Vidéos</h2>
        </div>
    </div>

    <div>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/movies">Films</a></li>
                <li><a href="/jeuxVideos/search">Recherche</a></li>
                <li><a href="/jeuxVideos">Jeux Vidéos</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr>



