<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>JeuxVideo</title>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>
    <body>
        <div class="central">

            <%- include('partials/header') %>

            <div>
                <%= movieId %>
            </div>

            <%- include('partials/footer') %>
        </div>
    </body>
</html>
