<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--    <meta name="viewport"-->
        <!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
        <!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
        <title>JeuxVideo</title>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>
    <body>
        <div class="central">
            <%- include('partials/header') %>

            <section>
                <%- include('partials/banner') %>
                <h1>Ajouter un jeu vidéo à votre collection</h1>
                <div id="form_new_jv">
                    <form action="/jeuxVideos/new" method="post">
<!--                        <ul>-->
                            <fieldset>
                                <legend>Informations sur le Jeu</legend>
                                <ul>
                                <li>
                                    <label for="name-jeux-video">Titre : </label>
                                    <input type="text" name="name-jeux-video" id="name-jeux-video" placeholder="Ex: Final Fantasy" required>
                                </li>

                                <li>
                                    <label for="dev">Développeur :</label>
                                    <input type="text" name="dev" id="dev" placeholder="Ex: Square-Enix" required>
                                </li>

                                <li>
                                    <label for="editeur">Editeur : </label>
                                    <input type="text" name="editeur" id="editeur" placeholder="Ex: Square-Enix" required>
                                </li>

                                <li>
                                    <label for="date">Sortie : </label>
                                    <input type="date" name="date" id="date">
                                </li>

                                <li>
                                    <label for="console">Console</label>
                                    <select name="console" id="console">
                                        <optgroup label="Sony">
                                            <option value="ps1">Playstation</option>
                                            <option value="ps2">Playstation 2</option>
                                            <option value="ps3">Playstation 3</option>
                                            <option value="ps4">Playstation 4</option>
                                        </optgroup>
                                        <optgroup label="Nintendo">
                                            <option value="SNES">Super Nintendo</option>
                                            <option value="N64">Nintendo 64</option>
                                            <option value="GC">Gamecube</option>
                                            <option value="Wii">Wii</option>
                                        </optgroup>
                                    </select>
                                </li>
                                </ul>
                            </fieldset>

                            <fieldset>
                                <legend>Votre expérience</legend>
                                <ul>
                                <li>
                                    <div id="statut_jeux">
                                        <div>Avez-vous fini ce jeu vidéo?</div>
                                        <input type="radio" name="statut" id="fini"><label for="fini">Oui</label>
                                        <input type="radio" name="statut" id="pasFini"><label for="pasFini">Non</label>
                                    </div>
                                </li>

                                <li>
                                    <label for="note">Note : </label>
                                    <input type="number" name="note" id="note" min="0" max="20" placeholder="15">
                                </li>

                                <li>
                                    <label for="description">Description :</label>
                                    <textarea name="description" id="description" cols="50" rows="8"
                                          placeholder="Que pensez vous de ce jeux ?"></textarea>
                                </li>
                                </ul>
                            </fieldset>
<!--                        </ul>-->
                        <input type="submit" value="Ajouter" id="add-jeux-video">
                    </form>
                </div>

            </section>
            <%- include('partials/footer') %>
        </div>

        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', addMovie);

            function addMovie(event) {
                event.preventDefault();

                if(fetch) {
                    fetch('/jeuxVideos/new', {
                        method: 'POST',
                        body: new FormData(form)
                    })
                        .then(checkStatus)
                        .catch(function(error) {
                            console.error('request failed', error);
                        })
                } else {
                    // jQuery, XHR
                }
            }

            function checkStatus(response) {
                if(response.status >= 200 && response.status < 300) {
                    // let newMovieDiv = document.createElement('div');
                    // const movietitle = document.getElementById('movietitle').value;
                    // const movieyear = document.getElementById('movieyear').value;
                    // newMovieDiv.innerHTML = `${movietitle} ${movieyear}`;
                    // document.querySelector('.french-movies').appendChild(newMovieDiv);
                    form.reset();
                }
            }
        </script>
    </body>
</html>
